@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

//Testmoninal
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}

//Main styling
section {
  background-color: rgba(0, 0, 0, 0.9);
  margin-left: 30vh;
  height: 100vh;
}
#menu,
#cross {
  color: black;
  display: none;
}

#sideBar {
  position: fixed;
  width: 30vh;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  .sideBar__Nav {
    .sideBar__Navicon {
      font-weight: 200;
      font-size: 1.3rem;
      display: grid;
      justify-content: center;
      align-items: center;
      height: 20vh;
      i {
        justify-self: center;
        font-size: 1.5rem;
      }
      &:hover {
        border: 2px solid white;
        background-color: black;
      }
    }
  }
}
nav a li {
  font-family: "Comfortaa", cursive;
}
.font-change {
  font-family: "Sacramento", cursive;
}
.intro-main {
  display: grid;
  place-content: center;
  .intro-main-div {
    display: flex;
    align-items: center;
    margin: 0 2.5vh;
    div {
      margin: 0 15vh 0 2.5vh;
      h2 {
        font-size: 2.5rem;
      }
      p {
        font-family: "Comfortaa", cursive;
        font-size: 1rem;
        line-height: 1.5;
      }
    }
    img {
      object-fit: contain;
    }
    .btn {
      border: 1.5px solid palevioletred;
      background-color: transparent;
      margin: 1.5em 0 0 0;
      width: 130px;
      height: 40px;
      font-size: 1rem;
    }
  }
}

//For small Screen

@media screen and (max-width: 756px) {
  section {
    padding: 0.8em;
    margin: 0;
    text-align: center;
  }
  #sideBar {
    height: 70vh;
    display: none;
    width: 100%;
    .sideBar__Nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      .sideBar__Navicon {
        height: 14vh;
        &:hover {
          background: none;
        }
      }
    }
  }
  #menu {
    position: fixed;
    display: block;

    i {
      padding: 0.5em;
      font-size: 2.5rem;
    }
  }
  #cross {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 9999;
    i {
      font-size: 2.5rem;
    }
  }
  .intro-main {
    .intro-main-div {
      flex-direction: column;
      justify-items: center;
      margin: 0;
      align-items: center;
      div {
        margin: 0.5em 1.5em;
        text-align: justify;
        p {
          line-height: 1.1;
        }
      }
    }
  }
}
