//Import Font
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

//Styling For Global

* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}
//PRELOADER

#loader {
  background: rgb(255, 255, 255)
    url(https://raw.githubusercontent.com/maligaurav947/Portfoilio-New/master/img/Loader.gif)
    no-repeat center;
  background-size: 100px;
  width: 100vw;
  z-index: 99999;
  position: fixed;
  height: 100vh;
}
//Testmoninal
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
.btn {
  a {
    color: white;
  }
  border: 1.5px solid palevioletred;
  background-color: transparent;
  margin: 1.5em 0 0 0;
  width: 130px;
  height: 40px;
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    transition: 150ms all linear;
    background-color: crimson;
  }
}
section {
  background-color: rgba(0, 0, 0, 0.9);
  margin-left: 30vh;
  height: 100vh;
}
#menu,
#cross {
  color: black;
  display: none;
}
nav a li {
  font-family: "Comfortaa", cursive;
}
.font-change {
  color: crimson;
  font-family: "Sacramento", cursive;
}
.main-title {
  margin: 1em 0 0;
  font-family: "Comfortaa", cursive;
  font-size: 2.5rem;
}
//Sidebar For Big Screen
#sideBar {
  position: fixed;
  width: 30vh;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  .sideBar__Nav {
    .sideBar__Navicon {
      font-weight: 200;
      font-size: 1.3rem;
      display: grid;
      justify-content: center;
      align-items: center;
      height: 20vh;
      i {
        justify-self: center;
        font-size: 1.5rem;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.9);
      }
    }
  }
}

//Introduction Section BIG Screen
#intro-main {
  display: grid;
  place-content: center;
  .intro-main-div {
    display: flex;
    align-items: center;
    margin: 0 2.5vh;
    div {
      margin: 0 15vh 0 2.5vh;

      p {
        font-family: "Comfortaa", cursive;
        font-size: 1rem;
        line-height: 1.5;
      }
    }
    img {
      object-fit: contain;
    }
  }
}

//Project Section For BIG Screen
#project-main {
  display: grid;
  justify-content: center;
  text-align: center;
  height: 100vh;
  h2 {
    margin-bottom: 0.6em;
  }
  .cardcollection {
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
      object-fit: cover;
      overflow: hidden;
      border-radius: 30px;
      background-color: crimson;
      width: 30.33%;
      padding: 0 0 0.6em;
      margin: 0em 0.3em;

      img {
        object-fit: contain;
        width: 100%;
        opacity: 0.4;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        &:hover,
        &:focus {
          opacity: 0.9;
        }
      }
      h3 {
        font-size: 1.1rem;
        margin-top: 0.5em;
        padding: 0 1em;
      }
      p {
        line-height: 1.3;
        font-size: 0.9rem;
        padding: 0 1em;
        margin: 1.5em 0.3em 0.6em;
      }
    }
  }
}

// Skill Section For Big Screen
#skill-main {
  display: grid;
  justify-content: center;
  text-align: center;
  .skill-div {
    text-align: left;
    h4 {
      font-size: 1rem;
    }
    .skill {
      background-color: white;
      width: 1000px;
      margin: 1.5em 0;
      height: 30px;
      .html-css {
        background-color: rgba(0, 0, 0, 0.437);
        width: 90%;
        height: 30px;
        animation-name: htmlcss-anim;
        animation-duration: 1500ms;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        @keyframes htmlcss-anim {
          25% {
            width: 10%;
          }
          50% {
            width: 35%;
          }
          75% {
            width: 85%;
          }
          100% {
            width: 90%;
          }
        }
      }
      .css-frameWork {
        background-color: rgba(0, 0, 0, 0.437);
        width: 65%;
        height: 30px;
        animation-name: cssFrame-anim;
        animation-duration: 1500ms;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        @keyframes cssFrame-anim {
          25% {
            width: 5%;
          }
          50% {
            width: 50%;
          }
          75% {
            width: 55%;
          }
          100% {
            width: 65%;
          }
        }
      }
      .js {
        background-color: rgba(0, 0, 0, 0.437);
        width: 40%;
        height: 30px;
        animation-name: jskey-anim;
        animation-duration: 1500ms;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        @keyframes jskey-anim {
          25% {
            width: 50%;
          }
          50% {
            width: 65%;
          }
          75% {
            width: 30%;
          }
          100% {
            width: 40%;
          }
        }
      }
      .github {
        background-color: rgba(0, 0, 0, 0.437);
        width: 75%;
        height: 30px;
        animation-name: githubkey-anim;
        animation-duration: 1500ms;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        @keyframes githubkey-anim {
          25% {
            width: 0%;
          }
          50% {
            width: 45%;
          }
          75% {
            width: 100%;
          }
          100% {
            width: 75%;
          }
        }
      }
    }
  }
}

//contact styling for big screen
#contact-main {
  height: 100%;
  display: grid;
  place-content: center;
  text-align: center;
  .contact-main__div {
    text-align: left;
    display: flex;
    align-items: center;
    margin: 0.8em 0.6em;
    .input-info {
      margin: 0 0.6em;
      .form {
        .label-list {
          input {
            padding: 0 0.3em;
            text-align: unset;
            color: black;
            margin: 1em 0;
            width: 500px;
            height: 45px;
            outline: none;
            border: none;
            font-size: 1.2rem;
          }
          textarea {
            margin: 1em 0;
            font-size: 1.2rem;
            
            min-height: 65px;
            max-height: 180px;
            
            
            max-width: 500px; 
            width: 500px;
            
            padding: 0.2em 0.3em;
            text-align:left;
            color: black;
          }
        }
      }
    }
  }
}

//Styling For Small Screen
@media screen and (max-width: 756px) {
  section {
    padding: 0.8em;
    margin: 0;
    text-align: center;
  }
  #menu {
    position: fixed;
    display: block;

    i {
      padding: 0.5em;
      font-size: 2.5rem;
    }
  }
  #cross {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 9999;
    i {
      font-size: 2.5rem;
    }
  }

  //Sidebar For Small Screen
  #sideBar {
    background-color: rgba(0, 0, 0, 0.717);
    height: 70vh;
    display: none;
    width: 100%;
    .sideBar__Nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      .sideBar__Navicon {
        height: 18vh;
        &:hover {
          background: none;
        }
      }
    }
  }

  //Introduction Section Small Screen
  #intro-main {
    .intro-main-div {
      flex-direction: column;
      justify-items: center;
      margin: 0;
      align-items: center;
      div {
        margin: 0.5em 1.5em;
        text-align: justify;
        p {
          line-height: 1.1;
        }
      }
    }
  }
  //Project Section For Small Screen
  #project-main {
    height: 100%;
    h2 {
      margin: 2rem 0;
    }
    .cardcollection {
      flex-direction: column;
      height: 100%;
      .card {
        margin: 0.7em 0;
        background-color: rgba(220, 20, 60, 0.695);
        width: 80%;
        border-radius: 20px;
        img {
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
        }
        p {
          text-align: justify;
        }
      }
    }
  }

  // Skill Section For small Screen
  #skill-main {
    .skill-div {
      .skill {
        width: 350px;
        .html-css {
          width: 90%;
        }
        .css-frameWork {
          width: 65%;
        }
        .js {
          width: 40%;
        }
        .github {
          width: 75%;
        }
      }
    }
  }
  //contact styling for small screen
  #contact-main {
    h2{
      margin: 2.5em 0;
    }
    .contact-main__div {
      flex-direction: column;
      .emb-map{
        iframe{
          width: 350px;
        }
      }
      .input-info{
        margin: 1.5em 0;
        .form {
          .label-list {
            input{
             width: 250px;
            }
            textarea{
              width: 250px;
            }
          }
      }
    }
  }
  }
}
